---
http_interactions:
- request:
    method: get
    uri: https://api.weibo.com/2/statuses/mentions/ids.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth2 2.00v8XoKHCX7tRE59adab7a4dGWdRMB
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sina-Lb:
      - aGEuMTY5LmcxLmh5ZHMubGIuc2luYW5vZGUuY29t
      Sina-Ts:
      - OTUwOWMzNjggMCAzNyAzNyA1IDQ5Cg==
    body:
      encoding: UTF-8
      string: '{"statuses":[],"hasvisible":false,"previous_cursor":0,"next_cursor":0,"total_number":0,"interval":0}'
  recorded_at: Fri, 21 Sep 2018 01:14:34 GMT
recorded_with: VCR 4.0.0
