---
http_interactions:
- request:
    method: post
    uri: https://api.weibo.com/oauth2/access_token
    body:
      encoding: UTF-8
      string: client_id=0000000000&client_secret=very_secret&code=hoge&grant_type=authorization_code&redirect_uri=https%3A%2F%2Fexampel.com%2Fcallback
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Sina-Lb:
      - aGEuMTY4LmcxLmh5ZHMubGIuc2luYW5vZGUuY29t
      Sina-Ts:
      - NGI2ZWMzNjggMCAzNSAzNSA1IDQyCg==
    body:
      encoding: UTF-8
      string: '{"error":"invalid_grant","error_code":21325,"request":"/oauth2/access_token","error_uri":"/oauth2/access_token","error_description":"invalid
        authorization code:hoge"}'
  recorded_at: Wed, 19 Sep 2018 09:06:19 GMT
recorded_with: VCR 4.0.0
