---
http_interactions:
- request:
    method: post
    uri: https://api.weibo.com/oauth2/access_token
    body:
      encoding: UTF-8
      string: client_id=abc&client_secret=def&code=hoge&grant_type=authorization_code&redirect_uri=https%3A%2F%2Fexample.com%2Fcallback
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Sina-Lb:
      - aGEuMTY5LmcxLmh5ZHMubGIuc2luYW5vZGUuY29t
      Sina-Ts:
      - OTcwOWMzNjggMCAzNiAzNiA5IDUzCg==
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_code":21315,"request":"/oauth2/access_token","error_uri":"/oauth2/access_token","error_description":"Token expired"}'
  recorded_at: Wed, 19 Sep 2018 09:06:13 GMT
recorded_with: VCR 4.0.0
