---
http_interactions:
- request:
    method: get
    uri: https://api.weibo.com/2/statuses/bilateral_timeline.json?count=5&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth2 2.00vaaaaaaaaaaaaaaaaaaaaaaaaaaa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Api-Server-Ip:
      - 10.39.58.37
      Sina-Lb:
      - aGEuMTY5LmcxLmh5ZHMubGIuc2luYW5vZGUuY29t
      Sina-Ts:
      - OTcwOWMzNjggMCAzOSAzOSA0IDcyCg==
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[],"advertises":[],"ad":[],"hasvisible":false,"previous_cursor":0,"next_cursor":0,"total_number":3,"interval":2000,"uve_blank":-1,"since_id":0,"max_id":0,"has_unread":0}'
  recorded_at: Fri, 21 Sep 2018 01:15:12 GMT
recorded_with: VCR 4.0.0
