---
http_interactions:
- request:
    method: get
    uri: https://api.weibo.com/2/statuses/user_timeline/ids.json?count=5&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth2 2.00vaaaaaaaaaaaaaaaaaaaaaaaaaaa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Api-Server-Ip:
      - 10.85.64.142
      Sina-Lb:
      - aGEuMTY5LmcxLmh5ZHMubGIuc2luYW5vZGUuY29t
      Sina-Ts:
      - NGI2ZWMzNjggMCAzNyAzNyA1IDc5Cg==
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[],"marks":[],"hasvisible":false,"previous_cursor":0,"next_cursor":0,"total_number":0,"interval":0,"uve_blank":0}'
  recorded_at: Thu, 20 Sep 2018 08:53:40 GMT
recorded_with: VCR 4.0.0
